---
layout: default
title: Tobias Hinz | PhD Student in Machine Learning @ University of Hamburg
description: I work with Neural Networks (Deep Learning) in Computer Vision and Natural Language Processing to model and understand the world around us.
---

<!-- Overview -->
<section id="overview" class="wrapper style1">
	<div class="container 75%">
		<ul class="row 200%">
			<ul class="6u 12u$(medium)">
				<header class="major">
					<h2>TOBIAS HINZ</h2>
					<div class="image rounded" style="margin-bottom: 2em;"><img src="images/photo.jpg" width="200" alt="Avatar"/></div>
					<p>PhD Candidate</p>
					<p>University of Hamburg</p>
				</header>
			</ul>
			<div class="6u$ 12u$(medium)" align="justify">
				<p>Since April 2017 I am a PhD student at the <a href="https://www.inf.uni-hamburg.de/en/inst/ab/wtm/" target="_blank">Knowledge Technology</a> group at the <a href="https://www.uni-hamburg.de/" target="_blank">University of Hamburg</a>, advised by <a href="https://www.inf.uni-hamburg.de/en/inst/ab/wtm/people/wermter.html" target="_blank">Professor Wermter</a>.
				I work on machine learning approaches that try to understand the relationships between objects in the environment in a semi- or unsupervised way and can describe these relationships with natural language.
				This includes applications such as text-to-image synthesis, image captioning, and visual question answering</p>
				<p>I completed my Bachelor degree in <a href="https://www.wim.uni-mannheim.de/en/business-informatics/" target="_blank">Business Informatics</a> at the <a href="https://www.uni-mannheim.de/" target="_blank">University of Mannheim</a>, during which I also studied at the <a href="http://nus.edu.sg/" target="_blank">National University of Singapore</a> for one semester.
				Following that, I did a research oriented Master degree in <a href="https://www.inf.uni-hamburg.de/studies/master/ias.html" target="_blank">Intelligent Adaptive Systems</a> at the University of Hamburg.</p>
			</div>
		</ul>

		<h2 style="text-align: center">News</h2>
		<ul>
		   <li>10/2019: We uploaded our latest <a href="https://arxiv.org/abs/1910.13321" target="_blank">work</a> on generative text-to-image synthesis. Check out our <a href="/2019/10/30/semantic-object-accuracy-for-generative-text-to-image-synthesis">blog post</a> and <a href="https://github.com/tohinz/semantic-object-accuracy-for-generative-text-to-image-synthesis" target="_blank">implementation</a>.</li>
		   <li>08/2019: I just returned from Edmonton where I attended the <a href="https://dlrlsummerschool.ca/" target="_blank">DLRLSS</a>. Have a look at the new <a href="/2019/08/06/deep-learning-reinforcement-learning-summer-school">blog post</a> for some highlights.</li>
			<li>07/2019: I attended this year's <a href="https://www.eeml.eu/home" target="_blank">EEML</a> in Bucharest and summarized my experiences in a new <a href="/2019/07/08/eastern-european-machine-learning-summer-school-2019">blog post</a>.</li>
			<li>05/2019: I just returned from this year's <a href="https://iclr.cc/Conferences/2019" target="_blank">ICLR</a>. Check out my <a href="/2019/05/15/iclr-new-orleans-may-2019">blog post</a> and see <a href="https://medium.com/georgian-impact-blog/our-five-favorite-papers-from-iclr-2019-f4176c69462e" target="_blank">this post</a> which mentions our paper.</li>
			<li>01/2019: I started a new position with the Crossmodal Learning (<a href="https://www.crossmodal-learning.org/home/about.html" target="_blank">CML</a>) project (subproject <a href="https://www.crossmodal-learning.org/projects/area-a/a5-neurobotic-brain.html" target="_blank">A5</a>) at the University of Hamburg.</li>
			<li>12/2018: Our <a href="https://openreview.net/forum?id=H1edIiA9KQ" target="_blank">work</a> on controlled image generation got accepted to <a href="https://iclr.cc/" target="_blank">ICLR</a> 2019.</li>
			<li>07/2018: I attended this year's IEEE World Congress on Computational Intelligence (<a href="http://www.ecomp.poli.br/~wcci2018/" target="_blank">WCCI</a>) in Rio de Janeiro (Brazil).</li>
			<li>04/2018: I attended this year's <a href="https://www.elen.ucl.ac.be/esann/" target="_blank">ESANN</a> in Bruges (Belgium).</li>
			<li>03/2018: Our <a href="https://www.worldscientific.com/doi/10.1142/S1469026818500086" target="_blank">work</a> on hyperparameter optimization for convolutional neural networks got accepted to the <a href="https://www.worldscientific.com/worldscinet/ijcia" target="_blank">IJCIA</a>.</li>
			<li>03/2018: Our <a href="https://arxiv.org/abs/1803.10567" target="_blank">work</a> on image generation and translation got accepted to this year's <a href="https://www.ijcnn.org/" target="_blank">IJCNN</a>.</li>
		</ul>
	</div>
</section>

<!-- Blog -->
<section id="blog" class="wrapper style2 special">
	<div class="container 75%">
		{% for page in site.posts %}
		  <ul class="row 150%">
			<ul class="3u 4u(large) 12u$(medium)">
				<div class="image rounded"><img src="{{ page.thumbnail }}" width="180" alt="" style="border:none;"/></div>
			</ul>

			<ul class="9u$ 8u$(large) 12u$(medium)">
				<header>
					<h4><a href="{{ page.url }}">{{ page.title }}</a></h4>
					<p>Posted on {{ page.date | date: "%d %b %Y" }} | Reading time: {% include read_time.html %}</p>
				</header>
				<p>{{ page.description }}</p>
				<p><a class="btn btn-primary btn-sm" role="button" style="text-decoration: none" href="{{ page.url }}">Continue reading</a></p>
			</ul>
		</ul>
			{% if forloop.index == 4 %}
			{% break %}
			{% endif %}
		{% endfor %}
		<hr />
		<a href="/blog/index" class="btn btn-primary btn-lg" role="button" style="text-decoration: none">See All</a>
		<br>
	</div>
</section>

<!-- Publications -->
<section id="publications" class="wrapper style1 special">
	<div class="container 75%">
		<h2 style="text-align: center">Selected Publications</h2>
		<p style="text-align:center;">For a full list, have a look at my <a href="https://scholar.google.com/citations?user=SugTw28AAAAJ&hl" target="_blank">Google Scholar</a> page.</p>
		<hr />
		
		<ul class="row 150%">
			<ul class="3u 4u(large) 12u$(medium)">
				<div class="image rounded"><img src="/images/publication/thumbnails/soa-for-tti.jpg" width="180" alt="" style="border:none;"/></div>
			</ul>

			<ul class="9u$ 8u$(large) 12u$(medium)">
				<header>
					<h4>Semantic Object Accuracy for Generative Text-to-Image Synthesis</h4>
					<p>A novel GAN architecture and an improved metric to evaluate generative text-to-image synthesis models.</p>
				</header>
				<p><span style="text-decoration: underline;">T. Hinz</span>, S. Heinrich, S. Wermter, <span style="font-weight: bold">Under Review</span> 2019.</p>
				<ul class="btn-group btn-group-sm">
					<a role="button" style="text-decoration: none" class="btn btn-primary" href='https://arxiv.org/abs/1910.13321' target="_blank">Paper</a>
	    				<a role="button" style="text-decoration: none" class="btn btn-primary" href='/2019/10/30/semantic-object-accuracy-for-generative-text-to-image-synthesis'>Blog Post</a>
	    				<a role="button" style="text-decoration: none" class="btn btn-primary" href='https://github.com/tohinz/semantic-object-accuracy-for-generative-text-to-image-synthesis' target="_blank">Code</a>
  				</ul>
			</ul>
		</ul>

		<hr />

		<ul class="row 150%">
			<ul class="3u 4u(large) 12u$(medium)">
				<div class="image rounded"><img src="/images/publication/thumbnails/mogan.jpg" width="180" alt="" style="border:none;"/></div>
			</ul>

			<ul class="9u$ 8u$(large) 12u$(medium)">
				<header>
					<h4>Generating Multiple Objects at Spatially Distinct Locations</h4>
					<p>Fine-grained control over the placement and identity of objects in images generated with a Generative Adversarial Network.</p>
				</header>
				<p><span style="text-decoration: underline;">T. Hinz</span>, S. Heinrich, S. Wermter, <span style="font-weight: bold">International Conference on Learning Representations</span> 2019.</p>
				<ul class="btn-group btn-group-sm">
					<a role="button" style="text-decoration: none" class="btn btn-primary" href='https://openreview.net/forum?id=H1edIiA9KQ' target="_blank">Paper</a>
	    				<a role="button" style="text-decoration: none" class="btn btn-primary" href='/2019/01/09/generating-multiple-objects-at-spatially-distinct-locations'>Blog Post</a>
	    				<a role="button" style="text-decoration: none" class="btn btn-primary" href='https://github.com/tohinz/multiple-objects-gan' target="_blank">Code</a>
  				</ul>
			</ul>
		</ul>

		<hr />

		<ul class="row 150%">
			<ul class="3u 4u(large) 12u$(medium)">
				<div class="image rounded"><img src="/images/publication/thumbnails/svhn_gen.jpg" width="180" alt="" style="border:none;"/></div>
			</ul>

			<ul class="9u$ 8u$(large) 12u$(medium)">
				<header>
					<h4>Image Generation and Translation with Disentangled Representations</h4>
					<p>Controllable image generation and translation with very little supervision.</p>
				</header>
				<p><span style="text-decoration: underline;">T. Hinz</span>, S. Wermter, <span style="font-weight: bold">IEEE International Joint Conference on Neural Networks</span> 2018.</p>
				<ul class="btn-group btn-group-sm">
					<a role="button" style="text-decoration: none" class="btn btn-primary" href='https://arxiv.org/abs/1803.10567' target="_blank">Paper</a>
	    				<a role="button" style="text-decoration: none" class="btn btn-primary" href='https://github.com/tohinz/Image-Generation-And-Translation' target="_blank">Code</a>
  				</ul>
			</ul>
		</ul>

		<hr />

		<ul class="row 150%">
			<ul class="3u 4u(large) 12u$(medium)">
				<div class="image rounded"><img src="/images/publication/thumbnails/hyperparam_optim.jpg" width="180" alt="" style="border:none;"/></div>
			</ul>

			<ul class="9u$ 8u$(large) 12u$(medium)">
				<header>
					<h4>Speeding Up the Hyperparameter Optimization Of Deep Convolutional Neural Networks</h4>
					<p>How to use lower dimensional data representations to speed up the hyperparameter optimization for CNNs processing images..</p>
				</header>
				<p><span style="text-decoration: underline;">T. Hinz</span>, N. Navarro-Guerrero, S. Magg, S. Wermter, <span style="font-weight: bold">International Journal of Computational Intelligence and Applications</span> 2018.</p>
				<ul class="btn-group btn-group-sm">
					<a role="button" style="text-decoration: none" class="btn btn-primary" href='https://www.worldscientific.com/doi/10.1142/S1469026818500086' target="_blank">Paper</a>
	    			</ul>
			</ul>
		</ul>

		<hr />

		<ul class="row 150%">
			<ul class="3u 4u(large) 12u$(medium)">
				<div class="image rounded"><img src="/images/publication/thumbnails/mnist_gen.jpg" width="180" alt="" style="border:none;"/></div>
			</ul>

			<ul class="9u$ 8u$(large) 12u$(medium)">
				<header>
					<h4>Inferencing Based on Unsupervised Learning of Disentangled Representations</h4>
					<p>Unsupervised learning of disentangled representations with a Bidirectional GAN.</p>
				</header>
				<p><span style="text-decoration: underline;">T. Hinz</span>, S. Wermter, <span style="font-weight: bold">European Symposium on Artificial Neural Networks</span> 2018.</p>
				<ul class="btn-group btn-group-sm">
					<a role="button" style="text-decoration: none" class="btn btn-primary" href='https://arxiv.org/abs/1803.02627' target="_blank">Paper</a>
	    				<a role="button" style="text-decoration: none" class="btn btn-primary" href='https://github.com/tohinz/Bidirectional-InfoGAN' target="_blank">Code</a>
  				</ul>
			</ul>
		</ul>
		<br>
		<hr />
		<a href="/publications/index" class="btn btn-primary btn-lg" role="button" style="text-decoration: none">See All</a>
	</div>
</section>

<!-- CV -->
<section id="cv" class="wrapper style2 special">
	<div class="container 50%">
		<h2>Curriculum Vitae</h2>
		<ul class="actions">
			<li><a href="documents/CV_Tobias_Hinz.pdf" class="btn btn-primary btn-lg" role="button" style="text-decoration: none" target="_blank">Download CV</a></li>
		</ul>
	</div>
</section>
