---
layout: default
title: Tobias Hinz | PhD Student in Machine Learning @ University of Hamburg
description: I work with Neural Networks (Deep Learning) in Computer Vision and Natural Language Processing to model and understand the world around us.
---

<!-- Overview -->
<section id="overview" class="wrapper style1">
	<div class="container 75%">
		<ul class="row 200%">
			<ul class="6u 12u$(medium)">
				<header class="major">
					<h2>TOBIAS HINZ</h2>
					<div class="image rounded" style="margin-bottom: 2em;"><img src="images/photo.jpg" width="200" alt="Avatar"/></div>
					<p>PhD Candidate</p>
					<p>University of Hamburg</p>
				</header>
			</ul>
			<div class="6u$ 12u$(medium)" align="justify">
				<p>I am a machine learning reseach engineer at <a href="https://research.adobe.com/research/" target="_blank">Adobe Research</a> and a 4th-year PhD student at the <a href="https://www.inf.uni-hamburg.de/en/inst/ab/wtm/" target="_blank">Knowledge Technology</a> group at the <a href="https://www.uni-hamburg.de/" target="_blank">University of Hamburg</a>.
				I work on generative models that learn visual representation in a semi- or unsupervised way.
				This includes applications such as unconditional image generation, text-to-image synthesis, and disentangled representations.
				I am also interested in few-shot learning with and the automatic evaluation of generative models.</p>
				<p>I completed my Bachelor degree in <a href="https://www.wim.uni-mannheim.de/en/business-informatics/" target="_blank">Business Informatics</a> at the <a href="https://www.uni-mannheim.de/" target="_blank">University of Mannheim</a>, during which I also studied at the <a href="http://nus.edu.sg/" target="_blank">National University of Singapore</a> for one semester.
				Following that, I did a research oriented Master degree in <a href="https://www.inf.uni-hamburg.de/studies/master/ias.html" target="_blank">Intelligent Adaptive Systems</a> at the University of Hamburg.</p>
			</div>
		</ul>

		<h2 style="text-align: center">News</h2>
		<ul>
			<li>01/2021: I started a new position as machine learning research engineer with <a href="https://research.adobe.com/research/" target="_blank">Adobe Research</a>.</li>
			<li>11/2020: Our work on <a href="https://arxiv.org/abs/2003.11512" target="_blank">Single-Image GANs</a> (code <a href="https://github.com/tohinz/ConSinGAN" target="_blank">available</a>) got accepted to <a href="http://wacv2021.thecvf.com/home" target="_blank">WACV 2021</a>.</li>
			<li>09/2020: Some <a href="/2020/09/18/adobe-internship">thoughts</a> on my summer internship at <a href="https://research.adobe.com/research/" target="_blank">Adobe Research</a>.</li>
			<li>09/2020: Our <a href="https://ieeexplore.ieee.org/document/9184960" target="_blank">work</a> on evaluating GANs got accepted to <a href="https://www.computer.org/csdl/journal/tp" target="_blank">TPAMI</a>.</li>
			<li>06/2020: I started my research internship with <a href="https://research.adobe.com/research/" target="_blank">Adobe</a>. Big thanks to Adobe for facilitating internships via home-office.</li>
			<li>03/2020: We posted our work on <a href="https://arxiv.org/abs/2003.11512" target="_blank">Single-Image GANs</a> with the available <a href="https://github.com/tohinz/ConSinGAN" target="_blank">code</a> and <a href="https://www.tobiashinz.com/2020/03/24/improved-techniques-for-training-single-image-gans.html" target="_blank">blog post</a>.</li>
			<li>01/2020: I will join <a href="https://techmatt.github.io/" target="_blank">Matthew Fisher</a> and <a href="http://www.oliverwang.info/" target="_blank">Oliver Wang</a> at <a href="https://research.adobe.com/" target="_blank">Adobe</a> in San Francisco this summer for a research internship.</li>
			<li>10/2019: We uploaded our latest <a href="https://arxiv.org/abs/1910.13321" target="_blank">work</a> on generative text-to-image synthesis. Check out our <a href="/2019/10/30/semantic-object-accuracy-for-generative-text-to-image-synthesis">blog post</a> and <a href="https://github.com/tohinz/semantic-object-accuracy-for-generative-text-to-image-synthesis" target="_blank">implementation</a>.</li>
			<li>08/2019: I attended the <a href="https://dlrlsummerschool.ca/" target="_blank">DLRLSS</a> in Edmonton. Have a look at the new <a href="/2019/08/06/deep-learning-reinforcement-learning-summer-school">blog post</a> for some highlights.</li>
			<li>07/2019: I attended this year's <a href="https://www.eeml.eu/home" target="_blank">EEML</a> in Bucharest and summarized my experiences in a new <a href="/2019/07/08/eastern-european-machine-learning-summer-school-2019">blog post</a>.</li>
		</ul>
	</div>
</section>

<!-- Blog -->
<section id="blog" class="wrapper style2 special">
	<div class="container 75%">
		{% for page in site.posts %}
		  <ul class="row 150%">
			<ul class="3u 4u(large) 12u$(medium)">
				<div class="image rounded" style="margin-top:1cm;"><a href="{{ page.url }}"><img src="{{ page.thumbnail }}" width="180" alt="" style="border:none;"/></a></div>
			</ul>

			<ul class="9u$ 8u$(large) 12u$(medium)">
				<header>
					<h4><a href="{{ page.url }}">{{ page.title }}</a></h4>
					<p>Posted on {{ page.date | date: "%d %b %Y" }} | Reading time: {% include read_time.html %}</p>
				</header>
				<p>{{ page.description }}</p>
				<p><a class="btn btn-primary btn-sm" role="button" style="text-decoration: none" href="{{ page.url }}">Continue reading</a></p>
			</ul>
		</ul>
			{% if forloop.index == 4 %}
			{% break %}
			{% endif %}
		{% endfor %}
		<hr />
		<a href="/blog/index" class="btn btn-primary btn-lg" role="button" style="text-decoration: none">See All</a>
		<br>
	</div>
</section>

<!-- Publications -->
<section id="publications" class="wrapper style1 special">
	<div class="container 75%">
		<h2 style="text-align: center">Selected Publications</h2>
		<p style="text-align:center;">For a full list, have a look at my <a href="https://scholar.google.com/citations?user=SugTw28AAAAJ&hl" target="_blank">Google Scholar</a> page.</p>
		<hr />
		
		<ul class="row 150%">
			<ul class="3u 4u(large) 12u$(medium)">
				<div class="image rounded" style="margin-top:1cm;"><img src="/images/publication/thumbnails/consingan.jpg" width="180" alt="" style="border:none;"/></div>
			</ul>

			<ul class="9u$ 8u$(large) 12u$(medium)">
				<header>
					<h4>Improved Techniques for Training Single-Image GANs</h4>
					<p>Improving the results and training speed of single-image GANs.</p>
				</header>
				<p><span style="text-decoration: underline;">T. Hinz</span>, M. Fisher, O. Wang, S. Wermter, <span style="font-weight: bold">IEEE Winter Conference on Applications of Computer Vision</span> 2021.</p>
				<ul class="btn-group btn-group-sm">
					<a role="button" style="text-decoration: none" class="btn btn-primary" href='https://arxiv.org/abs/2003.11512' target="_blank">Paper</a>
	    				<a role="button" style="text-decoration: none" class="btn btn-primary" href='/2020/03/24/improved-techniques-for-training-single-image-gans'>Blog Post</a>
	    				<a role="button" style="text-decoration: none" class="btn btn-primary" href='https://github.com/tohinz/ConSinGAN' target="_blank">Code</a>
  				</ul>
			</ul>
		</ul>

		<hr />
		
		<ul class="row 150%">
			<ul class="3u 4u(large) 12u$(medium)">
				<div class="image rounded" style="margin-top:1cm;"><img src="/images/publication/thumbnails/soa-for-tti.jpg" width="180" alt="" style="border:none;"/></div>
			</ul>

			<ul class="9u$ 8u$(large) 12u$(medium)">
				<header>
					<h4>Semantic Object Accuracy for Generative Text-to-Image Synthesis</h4>
					<p>A novel GAN architecture and an improved metric to evaluate generative text-to-image synthesis models.</p>
				</header>
				<p><span style="text-decoration: underline;">T. Hinz</span>, S. Heinrich, S. Wermter, <span style="font-weight: bold">IEEE Transactions on Pattern Analysis and Machine Intelligence</span> 2020.</p>
				<ul class="btn-group btn-group-sm">
					<a role="button" style="text-decoration: none" class="btn btn-primary" href='https://ieeexplore.ieee.org/document/9184960' target="_blank">Paper</a>
	    				<a role="button" style="text-decoration: none" class="btn btn-primary" href='/2019/10/30/semantic-object-accuracy-for-generative-text-to-image-synthesis'>Blog Post</a>
	    				<a role="button" style="text-decoration: none" class="btn btn-primary" href='https://github.com/tohinz/semantic-object-accuracy-for-generative-text-to-image-synthesis' target="_blank">Code</a>
  				</ul>
			</ul>
		</ul>

		<hr />

		<ul class="row 150%">
			<ul class="3u 4u(large) 12u$(medium)">
				<div class="image rounded" style="margin-top:1cm;"><img src="/images/publication/thumbnails/mogan.jpg" width="180" alt="" style="border:none;"/></div>
			</ul>

			<ul class="9u$ 8u$(large) 12u$(medium)">
				<header>
					<h4>Generating Multiple Objects at Spatially Distinct Locations</h4>
					<p>Fine-grained control over the placement and identity of objects in images generated with a Generative Adversarial Network.</p>
				</header>
				<p><span style="text-decoration: underline;">T. Hinz</span>, S. Heinrich, S. Wermter, <span style="font-weight: bold">International Conference on Learning Representations</span> 2019.</p>
				<ul class="btn-group btn-group-sm">
					<a role="button" style="text-decoration: none" class="btn btn-primary" href='https://openreview.net/forum?id=H1edIiA9KQ' target="_blank">Paper</a>
	    				<a role="button" style="text-decoration: none" class="btn btn-primary" href='/2019/01/09/generating-multiple-objects-at-spatially-distinct-locations'>Blog Post</a>
	    				<a role="button" style="text-decoration: none" class="btn btn-primary" href='https://github.com/tohinz/multiple-objects-gan' target="_blank">Code</a>
  				</ul>
			</ul>
		</ul>

		<hr />

		<ul class="row 150%">
			<ul class="3u 4u(large) 12u$(medium)">
				<div class="image rounded" style="margin-top:1cm;"><img src="/images/publication/thumbnails/svhn_gen.jpg" width="180" alt="" style="border:none;"/></div>
			</ul>

			<ul class="9u$ 8u$(large) 12u$(medium)">
				<header>
					<h4>Image Generation and Translation with Disentangled Representations</h4>
					<p>Controllable image generation and translation with very little supervision.</p>
				</header>
				<p><span style="text-decoration: underline;">T. Hinz</span>, S. Wermter, <span style="font-weight: bold">IEEE International Joint Conference on Neural Networks</span> 2018.</p>
				<ul class="btn-group btn-group-sm">
					<a role="button" style="text-decoration: none" class="btn btn-primary" href='https://arxiv.org/abs/1803.10567' target="_blank">Paper</a>
	    				<a role="button" style="text-decoration: none" class="btn btn-primary" href='https://github.com/tohinz/Image-Generation-And-Translation' target="_blank">Code</a>
  				</ul>
			</ul>
		</ul>

		<hr />

		<ul class="row 150%">
			<ul class="3u 4u(large) 12u$(medium)">
				<div class="image rounded" style="margin-top:1cm;"><img src="/images/publication/thumbnails/hyperparam_optim.jpg" width="180" alt="" style="border:none;"/></div>
			</ul>

			<ul class="9u$ 8u$(large) 12u$(medium)">
				<header>
					<h4>Speeding Up the Hyperparameter Optimization Of Deep Convolutional Neural Networks</h4>
					<p>How to use lower dimensional data representations to speed up the hyperparameter optimization for CNNs processing images..</p>
				</header>
				<p><span style="text-decoration: underline;">T. Hinz</span>, N. Navarro-Guerrero, S. Magg, S. Wermter, <span style="font-weight: bold">International Journal of Computational Intelligence and Applications</span> 2018.</p>
				<ul class="btn-group btn-group-sm">
					<a role="button" style="text-decoration: none" class="btn btn-primary" href='https://www.worldscientific.com/doi/10.1142/S1469026818500086' target="_blank">Paper</a>
	    			</ul>
			</ul>
		</ul>
		<br>
		<hr />
		<a href="/publications/index" class="btn btn-primary btn-lg" role="button" style="text-decoration: none">See All</a>
	</div>
</section>

<!-- CV -->
<section id="cv" class="wrapper style2 special">
	<div class="container 50%">
		<h2>Curriculum Vitae</h2>
		<ul class="actions">
			<li><a href="documents/CV_Tobias_Hinz.pdf" class="btn btn-primary btn-lg" role="button" style="text-decoration: none" target="_blank">Download CV</a></li>
		</ul>
	</div>
</section>
