<link rel="stylesheet" href="../css/main.css">
<footer id="footer">
	<div class="container">
		<hr>
		<p><span style="font-weight: bold">TOB [DOT] HINZ [AT] GMAIL [DOT] COM</span></p>

		<div class="list">
			<ul class="icons">
				<li><a href="https://www.linkedin.com/in/tobias-hinz-397881123" class="icon fa-linkedin" target="_blank"></a></li>
				<li><a href="https://github.com/tohinz" class="icon fa-github" target="_blank"></a></li>
				<li><a href="https://research.adobe.com/person/tobias-hinz/" class="icon fa-university" target="_blank"></a></li>
			</ul>
		</div>
	
		<ul class="copyright">
			<li>&copy; 2021 Tobias Hinz</li>
			<li><a href="/misc/legal-notice">Legal Notice</a></li>
			<li><a href="/misc/privacy-notice">Privacy Notice</a></li>
			<li>Design: <a href="https://templated.co">TEMPLATED</a></li>
		</ul>
	</div>
</footer>