<footer id="footer">
	<div class="container">
		<hr>
		<p><span style="font-weight: bold">TOB [DOT] HINZ [AT] GMAIL [DOT] COM</span></p>
		<p>Knowledge Technology, Universität Hamburg, Vogt-Koelln-Str. 30, 22527 Hamburg, Germany</p>
	
		<ul class="icons">
			<li><a href="https://www.linkedin.com/in/tobias-hinz-397881123" class="icon fa-linkedin" target="_blank"></a></li>
			<li><a href="https://github.com/tohinz" class="icon fa-github" target="_blank"></a></li>
			<li><a href="https://www.inf.uni-hamburg.de/en/inst/ab/wtm/people/hinz.html" class="icon fa-university" target="_blank"></a></li>
		</ul>
	
		<ul class="copyright">
			<li>&copy; 2019 Tobias Hinz</li>
			<li>Design: <a href="https://templated.co">TEMPLATED</a></li>
		</ul>
	</div>
</footer>