<header id="header">
	<div class="container 95%">
		<ul class="icons">
			<li><a href="https://www.linkedin.com/in/tobias-hinz-397881123" class="icon fa-linkedin" target="_blank"></a></li>
			<li><a href="https://github.com/tohinz" class="icon fa-github" target="_blank"></a></li>
			<li><a href="https://www.inf.uni-hamburg.de/en/inst/ab/wtm/people/hinz.html" class="icon fa-university" target="_blank"></a></li>
		</ul>
	
		<nav id="nav">
			<ul>
				<li><a href="/index.html" class="active">HOME</a></li>
				<li><a href="/index.html#publications">PUBLICATIONS</a></li>
				<li><a href="/index.html#blog">BLOG</a></li>
				<li><a href="/index.html#cv">CV</a></li>
			</ul>
		</nav>
	</div>
</header>